body {
    background: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.heroA {
    background-image: url(/assets/imgs/about-heroD.jpg);
    background-size: cover;
    height: 113vh;
    width: 110vw;
    background-position: center;
}



.blurb h2 {
   color: #004B6A;
   font-weight: 300;
   font-size: 2.5rem;
}

.contact h2 {
    font-weight: 400;
    font-size: 2.5rem;
}

.nameM {
    width: 81%;
}

.nameD {
    width: 52%;
}

.blurb p {
    color: #071D27;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 2.3;

}

.about p {
    color: #071D27;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 2.2;
    margin-top: 8%;
    /* letter-spacing: .02rem; */
}

#quote p {
    color: #004B6A;
    font-weight: 300;
    font-size: 1.15rem;
}

#hume {
    color: #004B6A !important;
    margin-bottom: 1.5rem !important;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}
.nameContent {
    margin-top: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;    
}

#mainNavbar .nav-link {
    color: #071D27;
}

#mainNavbar .nav-link:hover {
    color: #909AB2;
}

#mainNavbar .navbar-brand {
    color: #004B6A;
    font-size: 1.5rem;
    margin: 6px 0px 6px;
}

#headingGroup span {
    color: #909AB2;
}

.contact span {
    /* display: flexbox; */
    color: #b0d2ca;
    font-size: .2em;
    /* transform: translateY(-60%); */

}

#headingGroup p {
    font-weight: 400;
    font-size: 1.125rem;
}

.designGroup {
    font-weight: 300;
    font-size: 1.8rem;
    color: #004B6A;
}

.icon {
    width: 50px;
    margin: 30px;
}

.iconF{
    width: 50px;
    margin-top: 30px
}

.iconF:hover {
    position: relative;
    transform: translate(0px, -10px);
    transition: .3s all ease;
}
.iconF:not(:hover) {
    position: relative;
    transform: translate(0px, 0px);
    transition: .3s all ease;
}


.designP {
    width: 51%;
}



.contentOne {
    margin-top: 50px;
}

nav {
    background: rgba(255, 255, 255, 0.89);
    transition: background 450ms;
}

nav:hover {
    background: #ffffff;
    transition: background 450ms;
}

/* button {
    display: flex;
    transform: translateX(545%);
} */


.btn {
    border: none ;
    outline: none;
    position: relative;
    /* border-right-color: #8A1430;
    border-left-color: #062E52; */
    /* border-color: linear-gradient( 263deg, #8A1430 0%, #062E52 100% ); */
    background: linear-gradient( 163deg, #909Ab2 0%, #062E52 100% );
    border-radius: 20rem;
    padding: 2.35% 12%;
    font-weight: 200;
    font-size: 1.28rem;
    cursor: pointer;
    /* background: */
    /* linear-gradient(to left,
      #062E52 0%, #8A1430 70% , */
      /* transparent 70%,  transparent 85%,  */
      /* #8A1430 85%, #8A1430 100%) top/100%,
    linear-gradient(to left, #062E52 0%, #8A1430 100%) bottom/100%; */
  /* background-repeat:no-repeat; */
    z-index: 1;
}
.btn::before {
    content: "";
    position: absolute;
    top: 2.58px;
    right: 2.58px;
    bottom: 2.58px;
    left: 2.58px;
    color: #071D27 !important;
    background-color: white;
    border-radius: 25rem;
    z-index: -1; 
   
  }

  /* .btn::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
   -webkit-background-clip: text;
    color: transparent;
    transition: 200ms
  } */

.form-control.fields {
    border: none;
    border-bottom: 1px solid #071D27 !important;
    border-radius: 0;
    width: 85%;
    /* font-weight: 200;
    font-size: 1.2rem; */
    padding-left: none;
}

input[type="text" i] {
    padding: 1px 2px;
}
input[type="email" i] {
    padding: 1px 2px;
}
textarea[class="form-control" i] {
    padding: 1px 2px;
}





.form-control.msg {
    border: 1.3px solid #8A97B8
    padding-left: none;
    
}

.form-control{
    font-weight: 200;
    font-size: 1.15rem;
    font-family: 'Noto Sans', sans-serif !important;
    letter-spacing: .04rem;
}


/* .navbar-collapse {
    background: #ffffff !important;
    transition: background 450ms;
} */

/* nav:not(:hover) {
    background: rgba(255, 255, 255, 0.89);
    transition: background 450ms;
}

nav:hover {
    background: #ffffff;
    transition: background 450ms;
} */






.reveal.left {
    position: relative;
    transform: translate(70px,-15px);
    opacity: 0;
    transition: .8s all ease;
  }
.reveal.right {
    position: relative;
    transform: translate(-70px,-15px);
    opacity: 0;
    transition: .8s all ease;
  }


.reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

@media (max-width: 1199px) {
    #headingGroup h1 {
        font-weight: 300;
        font-size: 2.7rem;
        overflow: hidden !important;
    }
    .blurb h2 {
        font-size: 2rem;
    }
    #mainFooter h2 {
        font-size: 1.2rem;
    }
    /* nav {
        background-color: rgba(255, 255, 255) !important;
    } */

    .designGroup {
        font-size: 2rem;
    }
    .designP {
        width: 48%;
    }

    .blurb p {
        color: #071D27;
        font-weight: 300;
        font-size: 1.05rem;
        line-height: 2.2;
    
    }

    .about p {
        color: #071D27;
        font-weight: 300;
        font-size: 1.14rem;
        line-height: 2.1;
        margin-top: 8%;
    }

    .nameD {
        width: 58.5%;
    }
    

    .heroA {
        background-image: url(/assets/imgs/about-heroT.jpg);
        background-size: cover;
        /* height:143vh; */
        height:143vh;
        width: 110vw;
        background-position: center;
    }
    .iconF{
        width: 50px;
        margin: 50px;

    }
    .contact h2 {
        font-weight: 400;
        font-size: 2.25rem;
    }
    /* button {
        display: flex;
        transform: translateX(335%);
    } */
    .form-control{
        font-weight: 200;
        font-size: 1.16rem;
        font-family: 'Noto Sans', sans-serif !important;
        letter-spacing: .04rem;
    }
}

@media (max-width: 991px) {
    .heroA {
        background-image: url(/assets/imgs/about-heroT.jpg);
        background-size: cover;
        height:163vh;
        width: 110vw;
        background-position: center;
    }
    .designGroup {
        font-weight: 300;
        font-size: 1.5rem;
        color: #004B6A;
    }
    .blurb p {
        color: #071D27;
        font-weight: 300;
        font-size: 1rem;
        line-height: 2.1;
    
    }
    .about p {
        color: #071D27;
        font-weight: 300;
        font-size: 1.16rem;
        line-height: 2;
        margin-top: 8%;
    }
    .nameD {
        width: 65%;
    }
    .contact h2 {
        font-weight: 300;
        font-size: 2.3rem;
    }
    /* button {
        display: flex;
        transform: translateX(185%);
    } */
    .form-control{
        font-weight: 200;
        font-size: 1.17rem;
        font-family: 'Noto Sans', sans-serif !important;
        letter-spacing: .04rem;
    }
}
@media (max-width: 767px) {
    .heroA {
        background-image: url(/assets/imgs/about-heroT.jpg);
        background-size: cover;
        height:143vh;
        width: 110vw;
        background-position: center;
    }
    nav {
        background: rgba(255, 255, 255, 1);
        transition: background 450ms;
    }
    .about p {
        color: #071D27;
        font-weight: 300;
        font-size: 1.18rem;
        line-height: 2;
        margin-top: 8%;
    }
    .nameM {
        width: 77%;
    }
    .contact h2 {
        font-weight: 300;
        font-size: 2rem;
    }
    /* button {
        display: flex;
        transform: translateX(83%);
    } */
    .form-control{
        font-weight: 200;
        font-size: 1.18rem;
        font-family: 'Noto Sans', sans-serif !important;
        letter-spacing: .04rem;
    }

}
@media (max-width: 575px) {
    .heroA {
        background-image: url(/assets/imgs/about-heroM.jpg);
        background-size: cover;
        height:173vh;
        width: 110vw;
        background-position: center;
    }

 
    #headingGroup p {
        font-weight: 400;
        font-size: 1.2rem;
    }
    .blurb p {
        color: #071D27;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 2.1;
    
    }
    .about p {
        color: #071D27;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 2;
        margin-top: 8%;
    }
    .contact h2 {
        font-weight: 300;
        font-size: 1.65rem;
    }
    /* button {
        display: flex;
        transform: translateX(0%);
    } */
    .form-control{
        font-weight: 200;
        font-size: 1.19rem;
        font-family: 'Noto Sans', sans-serif !important;
        letter-spacing: .04rem;
    }
    
}

html, body {
    overflow-x: hidden;
    margin-left: calc(100vw - 100%);
}

/* 
.navbar-light .navbar-toggler {
    border-color: #ffffff00;
}

.navbar {
    --bs-navbar-color: rgba(255, 255, 255, 0);
}
*/

/* .navbar-toggler:focus {
    color: #ffffff00;
} */
nav:focus {
    color: #ffffff89;
}

/*
.navbar-light .navbar-toggler {
 color: #ffffff00;
}
*/

.collapsing {
    -webkit-transition: height .3s ease-out;
         -o-transition: height .3s ease-out;
            transition: height .3s ease-out;
  } 

.navbar-toggler {
    width: 27px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 2.28px;
    width: 100%;
    background: #071D27;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
    background: #071D27;
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
    background: #071D27;
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
    background: #071D27;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
    background: linear-gradient( 263deg, #8A1430 0%, #062E52 100% );
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
    background: linear-gradient( 263deg, #8A1430 0%, #062E52 100% );
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
    /* background: linear-gradient( 263deg, #8A1430 0%, #062E52 100% ); */
    background-color: #071D27;
}